div.calculate_password {
	padding: 5px 5px 5px 10px;
	border-radius: 10px;
}

.very_weak_pwd {
	background-color: #FDE1E1;
	color: red;
}

.medium_pwd {
	background-color: #aceeff;
	color: blue;
}

.weak_pwd {
	background-color: #FFF7DD;
	color: rgb(223, 144, 0);
}

.strong_pwd {
	background-color: #acf596;
	color: green;
}

.bold {
	font-weight: bold;
}